.ui-autocomplete { border: 1px solid rgba(128,128,128,0.3); background-color: rgba(255,255,255,0.8); padding-left: 4px; }
.ui-autocomplete li { list-style: none; padding-left: 0; margin-left: 0; }
.ui-helper-hidden-accessible { display: none; visibility: hidden; }